# sudo cp hapi-verifier-dev.service /lib/systemd/system
# sudo chmod 644 /lib/systemd/system/hapi-verifier-dev.service
# sudo systemctl enable hapi-verifier-dev
# sudo systemctl start hapi-verifier-dev
# sudo systemctl status hapi-verifier-dev


[Unit]
Description=HAPI Verifier
Documentation=https://github.com/rweigel/hapi-server/verifier-nodejs

[Service]
Type=simple
User=ubuntu
CPUWeight=10
CPUQuota=20%
IOWeight=20
MemorySwapMax=0
WorkingDirectory=/home/ubuntu/verifier-nodejs-dev
ExecStart=bash etc/start-dev.sh
Restart=always

[Install]
WantedBy=multi-user.target
