# sudo cp hapi-verifier-dev.service /lib/systemd/system
# sudo chmod 644 /lib/systemd/system/hapi-verifier-dev.service
# sudo systemctl enable hapi-verifier-dev
# sudo systemctl start hapi-verifier-dev
# sudo systemctl status hapi-verifier-dev


[Unit]
Description=HAPI Verifier
Documentation=https://github.com/rweigel/hapi-server/verifier-nodejs

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/verifier-nodejs-dev
ExecStart=cpulimit -l 5 -- nice -20 /home/ubuntu/.nvm/versions/node/v16.2.0/bin/node --max-old-space-size=96 verify.js --port 9996
Restart=always

[Install]
WantedBy=multi-user.target
